<footer class="footer-area bg-color3">
   <div class="footer-wrapper">
      <div class="container">
         <div class="footer-copyright text-center">
             
            <p> &copy; {{date format="YYYY"}} {{@site.title}} <br /> 
			<span>{{t "Theme developed by"}} <a target="_blank" href="https://themeix.com">Themeix</a> &amp; {{t "Published with"}} <a target="_blank" href="https://ghost.org">Ghost</a></span></p>
         </div>
      </div>
   </div>
   <a href="#" class="home-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</footer>