<div class="headline-area bg-color1">
   <div class="headline-wrapper ">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-lg-4">
               <div class="headline-box wow fadeInUp" data-wow-duration="1s">
                  <div class="headline-logo">
                     <a href="/content"><img src="{{asset 'images/service-icon2.png'}}" alt="Knowledge Base"></a>
                  </div>
                  <div class="headline-content">
                     <h4 class="heading-4"><a href="#">Content </a></h4>
                     <p> Documentation to learn more about Kanban and how to apply it within the Scrum framework. </p>
                     <a href="/content" class="btn btn-style3">Learn More</a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4">
               <div class="headline-box wow fadeInUp" data-wow-duration="2s">
                  <div class="headline-logo">
                     <a href="/tools"><img src="{{asset 'images/wrench.png'}}" alt="Question Answer"></a>
                  </div>
                  <div class="headline-content">
                     <h4 class="heading-4"><a href="#">Tools </a></h4>
                     <p> Discover tools to simplify the use of Kanban metrics in your organization. </p>
                     <a href="/tools" class="btn btn-style3">Read More</a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4">
               <div class="headline-box m-0 wow fadeInUp" data-wow-duration="3s">
                  <div class="headline-logo">
                     <a href="https://app.pacemkr.ca"  target="_blank"><img src="{{asset 'images/website.png'}}" alt="Application"></a>
                  </div>
                  <div class="headline-content">
                     <h4 class="heading-4"><a href="https://app.pacemkr.ca" target="_blank" >Application</a></h4>
                     <p> See the metrics in action. Try the application today. </p>
                     <a href="https://app.pacemkr.ca" target="_blank" class="btn btn-style3">Try it</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>