<section class="looking-for-area bg-color3">
   <div class="looking-for-wrapper section-spacing bminus-30">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <article class="looking-for-service wow fadeInLeft" data-wow-duration="1s">
                  <header class="looking-for-logo">
                     <a href="#"><img src="{{asset 'images/looking-logo.png'}}" alt="{{@site.title}}"></a>
                  </header>
                  <footer class="looking-for-content">
                     <h4 class="heading-4"><a href="#">Live Chat</a></h4>
                     <p>It of to the happening, and cleaning overall dream. The avoid yet noting of himself a great. </p>
                     <a href="#" class="btn-style3 btn mt-3">Join Chatroom</a>
                  </footer>
               </article>
            </div>
            <div class="col-md-6">
               <article class="looking-for-service wow fadeInRight" data-wow-duration="1s">
                  <header class="looking-for-logo">
                     <a href="#"><img src="{{asset 'images/looking-logo2.png'}}" alt="{{@site.title}}"></a>
                  </header>
                  <footer class="looking-for-content">
                     <h4 class="heading-4"><a href="#">Ask the Community</a></h4>
                     <p> Advantage academic to personalities to no I like or that meet back, text into found and on</p>
                     <a href="#" class="btn-style3 btn mt-3">Join Community</a>
                  </footer>
               </article>
            </div>
         </div>
      </div>
   </div>
</section>