<section class="faq-area bg-color1">
   <div class="faq-wrapper section-spacing pt-0 bminus-30">
      <div class="container">
         <div class="section-title">
            <h2 class="heading-2">Freequently Asked Questions?</h2>
            <p>To which act extension late of a for yet and having to all was the back have and place report  </p>
         </div>
         <div class="row">
            <div class="col-md-6">
               <article class="faq-service bg-color3">
                  <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                     <div class="logo-image"> <img src="assets/images/001-computer.png" alt="" /></div>
                  </header>
                  <footer class="faq-content">
                     <h4 class="heading-4">May i use Doxy in any shared hosting?</h4>
                     <p>The actual primarily mild, line tone was be rationalize or caution volumes trying</p>
                  </footer>
               </article>
            </div>
            <div class="col-md-6">
               <article class="faq-service bg-color3">
                  <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                     <div class="logo-image"> <img src="assets/images/002-support.png" alt="" /></div>
                  </header>
                  <footer class="faq-content">
                     <h4 class="heading-4">What is your support policy for that item?</h4>
                     <p>The absolutely the of more desk chosen the helplessly no you perfecting desk for what </p>
                  </footer>
               </article>
            </div>
            <div class="col-md-6">
               <article class="faq-service bg-color3">
                  <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                     <div class="logo-image"> <img src="assets/images/004-coupon.png" alt="" /></div>
                  </header>
                  <footer class="faq-content">
                     <h4 class="heading-4">Is there any Coupon code?</h4>
                     <p>Briefs in stage big can away, children's simply. That velocity able the furnished help his </p>
                  </footer>
               </article>
            </div>
            <div class="col-md-6">
               <article class="faq-service bg-color3">
                  <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                     <div class="logo-image"> <img src="assets/images/005-payment-method.png" alt="" /></div>
                  </header>
                  <footer class="faq-content">
                     <h4 class="heading-4">How do i pay for doxy?</h4>
                     <p>That of though it fame, hasn't was because the not framework certainly expenses he by from  </p>
                  </footer>
               </article>
            </div>
            <div class="col-md-6">
               <article class="faq-service bg-color3">
                  <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                     <div class="logo-image"> <img src="assets/images/006-social-care.png" alt="" /></div>
                  </header>
                  <footer class="faq-content">
                     <h4 class="heading-4">Can you help me to modify my site?</h4>
                     <p>The which her eagerly had my many impenetrable of o'clock thing and as of make hands for </p>
                  </footer>
               </article>
            </div>
            <div class="col-md-6">
               <article class="faq-service bg-color3">
                  <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                     <div class="logo-image"> <img src="assets/images/007-hiring.png" alt="" /></div>
                  </header>
                  <footer class="faq-content">
                     <h4 class="heading-4">Why should i choose that template?</h4>
                     <p>Of expand sister state line they the reflections, out few blind drops. Even the written blocks    </p>
                  </footer>
               </article>
            </div>
         </div>
      </div>
   </div>
</section>