{{!< default}}
{{> "header"}}
{{> page-title background=feature_image}}
{{#post}}
      <!-- Start Feature  Area -->
      <div class="feature-area bg-color1">
          <div class="feature-wrapper section-spacing pb-0">
             <div class="container">
                <div class="row">
                   <div class="col-md-6 col-lg-4">
                      <article class="feature-box bg-color3">
                         <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                            <div class="feature-icon"> <i class="fa fa-address-card-o "></i></div>
                         </header>
                         <footer class="feature-content">
                            <h5 class="heading-5"><a href="#">Location </a></h5>
                            <p> 32, Park Road Drive <br />Link Town, London </p>
                         </footer>
                      </article>
                   </div>
                   <div class="col-md-6 col-lg-4">
                      <article class="feature-box bg-color3">
                         <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                            <div class="feature-icon"> <i class="fa fa-envelope"></i></div>
                         </header>
                         <footer class="feature-content">
                            <h5 class="heading-5"><a href="#">Email </a></h5>
                            <p> contact@yoursite.com <br />info@yoursite.com </p>
                         </footer>
                      </article>
                   </div>
                   <div class="col-md-6 col-lg-4">
                      <article class="feature-box bg-color3">
                         <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                            <div class="feature-icon"> <i class="fa fa-phone "></i></div>
                         </header>
                         <footer class="feature-content">
                            <h5 class="heading-5"><a href="#">Phone</a></h5>
                            <p>(123) 123-1234 <br />(123) 123-1234 </p>
                         </footer>
                      </article>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- End Feature Area -->
      <!-- Start Form  Area -->
      <section class="form-area bg-color1">
         <div class="form-wrapper section-spacing bminus-30 tminus-30">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <h3 class="sub-title heading-3">Get In Touch</h3>
                     <form class="form-action" action="#">
                        <div class="form-row">
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <input type="text" class="form-control" placeholder="User Name">
                              </div>
                           </div>
                        </div>
                        <div class="form-row">
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Email Address">
                              </div>
                           </div>
                        </div>
                        <div class="form-row">
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <textarea  rows="6" class="form-control" placeholder="Message"></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="form-group m-0">
                           <button type="submit" class="btn-style2 btn btn-primary">Submit </button>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-6">
                     <div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d690.745203017048!2d-0.4551324867597263!3d51.470128232737466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48767234cdc56de9%3A0x8fe7535543f64167!2sHeathrow+Airport!5e0!3m2!1sen!2sbd!4v1561567657283!5m2!1sen!2sbd" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>

                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Form Area -->
 {{/post}}