{{!< default}}
{{> "header"}} 
{{#post}}
{{> home-hero background=feature_image}} 
{{/post}}
{{> "section-feature-box"}}
<div class="no-padding-top">
{{> "section-explore-topic"}}
</div>
{{> "section-team"}}
{{> "section-callout-block"}}
{{> "section-need-help"}}
