{{!< default}}
{{> "header"}}
{{> page-title background=feature_image}}
{{#post}}
<section class="layout-area bg-color1">
   <div class="layout-wrapper section-spacing bminus-30">
      <div class="container">
         <div class="row">
            <div class="col">
               <div class="single-content">
                  {{content}}
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{{/post}}